.header-div  {

  background-color: #1F1C1C;

  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;

}




img {

  height:50%;
  width:15%;
}


.divBtn {

  height:100%;
  width:20%;
  background-color:#1F1C1C;
  text-align:center;
  color:#FFFFFF;


}
    


    