.home-page {
    margin: 0 auto;
    overflow: hidden;
}

.index-bakgrund {
    background-image: url('/bilder/index-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}